@import "../../assets/styles/_placeholders.scss";

.--fade-In {
	@extend %--fade-In;
}
.ratings__wrapper {
	white-space: nowrap;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
