@import "./assets/styles/colors";

.app {
	text-align: center;

	&-logo {
		height: 40vmin;
		pointer-events: none;
	}

	&-header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: $title-color;

		&--strong {
			color: red;
		}
		&--big {
			font-size: 3rem;
		}
	}

	&-link {
		color: $title-color;
	}
	&-link1 {
		@extend %bigFont;
	}

	%bigFont {
		color: $title-color;
	}
}
