@import "../../assets/styles/_mixins.scss";

.background__picture1 {
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 2%;
	height: auto;
	width: 400px;
	background-color: transparent;
	overflow: hidden;

	@include customMaxBreakPoint(1900) {
		display: none;
	}

	@include mdMaxHeightBreakPoint {
		display: none;
	}

	#right_table {
		animation: floating 3s ease-in-out infinite;
	}
	&__svg {
		display: block;
		width: 100%;
		height: auto;
	}
}

@-moz-keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
@-webkit-keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
