@import "../../assets/styles/_mixins.scss";

.background__picture1 {
	position: fixed;
	top: 50%;
	left: 5%;
	height: auto;
	width: 500px;
	background-color: transparent;
	overflow: hidden;

	#left_table,
	#right_table,
	#bottom_table {
		animation: floating 3s ease-in-out infinite;
	}
	&__svg {
		display: block;
		width: 100%;
		height: auto;
	}

	@include smMaxBreakPoint {
		display: none;
	}
	@include xlMaxBreakPoint {
		width: 400px;
	}
	@include mdMaxHeightBreakPoint {
		display: none;
	}
}

@-moz-keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
@-webkit-keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
